:root {
  --primary: #FF3E00;
  --secondary: #c4c4c4;
}

body,html {height: 100%}

*::selection {
  color: white;
  background-color: var(--primary);
}

body {
  position: relative;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  width: 100%;
}

.link {
  font-weight: 600;

  color: black;
  text-decoration: none;

  height: auto;

  background-image: linear-gradient(var(--primary), var(--primary));
  background-size: 0.6em 5%;
  background-repeat: no-repeat;
  background-position: left bottom;

  transition: background-size 200ms ease;
}

.link:hover {
  background-size: 100% 5%;
}

.link:visited {
  color: black;
}

.primary-text {
  color: var(--primary);
}